html, body {

  padding: none;
  margin: none;
}

body, h1, h2, h3, h4, h5 {
  font-family: "Raleway", sans-serif
}

header {
  padding-left: 15px;
  margin-bottom: 15px;
}

.container {
  height: auto;
  padding-left: 15px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-top: 15px;
  padding: 8px 0px;
  background: black;
  color: white;
  font-size: 0.7em;
}

footer h5 {
  margin: 15px;
}

footer a {
  color: gray;
}

button {
  background-color: black;
  color: white;
  border: none;
  padding: 8px 20px;
  margin-right: 8px;
  margin-top: 8px;
  font-size: 1em;
  box-shadow: 0px 8px 16px 0px gray;
}

button:focus, input:focus {
  outline: 0;
}

a {
  text-decoration: none;
  color: white;
}

.icon {
  padding: 2px;
  background-color: white;
  border-radius: 4px;
}

.dropbtn {
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.dropdown-content button {
  width: 100%;
  margin: 0;
}

.dropdown-content button:hover, .dropdown-content button:active {
  padding: 8px 15px;
  border: 5px solid white;
  box-shadow: 0px 8px 16px 0px white;
}

.dropdown:hover .dropdown-content {
  display: block;
}
