{% extends 'index.html' %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/kampfsystem.css') }}">
{% endblock %}

{% block content %}
{% for people in zeilen %}
<!-- id="defaultOpen"-->
<form class="" action="/kampfsystem/auto" method="POST">
  <button class="kampfbtn" type="submit" name="user" value={{people[0]}}>
    {% for i in range(1, len) %}
    {{headline[i]}} : {{people[i]}}<br>
    {% endfor %}
  </button>
</form>
{% endfor %}
{% endblock %}
